template(name="about")
  .col-50.about
    p this is third reincarnation of this demo-projects, as a part of <a href="https://impact.meteor.com" target="_blank" rel="noopener noreferrer">Impact Meteor Conference 2020</a> ・ previously awarded with <a href="https://themeteorchef.com/blog/giant-cotton-apron-awards-show" target="_blank" rel="noopener noreferrer">GCAA 2016</a> by Meteor Chef and noted by many
    p as a <a href="https://atmospherejs.com/ostrio/files" target="_blank" rel="noopener noreferrer">popular solution</a> to file's upload an management in Meteor.js ecosystem ・ 2020
    a.info-link.right(data-show-about href="#" title="close"): i.la.la-times
  .col-50.bg-dark.about
    p backed by <a href="https://veliovgroup.com" target="_blank" rel="noopener noreferrer">veliovgroup</a> and sponsored by <a href="https://ostr.io" target="_blank" rel="noopener noreferrer">ostr.io</a> ・ please, share your support via <a href="https://paypal.me/veliovgroup" target="_blank" rel="noopener noreferrer">PayPal</a> or become a sponsor on <a href="https://github.com/sponsors/dr-dimitru" target="_blank" rel="noopener noreferrer">GitHub</a>
    p source code is available on <a href="https://github.com/veliovgroup/Meteor-Files-Demos/tree/master/demo" target="_blank" rel="noopener noreferrer">GitHub</a> ・ as part of <a href="https://github.com/VeliovGroup/Meteor-Files" target="_blank" rel="noopener noreferrer">ostrio:files</a> project
