template(name="about")
  .col-50.about
    .h2.text-center about

    p this is third reincarnation of this demo-projects, as a part of <a href="https://impact.meteor.com" target="_blank" rel="noopener noreferrer">Impact Meteor Conference 2020</a>

    p previously awarded with <a href="https://themeteorchef.com/blog/giant-cotton-apron-awards-show" target="_blank" rel="noopener noreferrer">GCAA 2016</a> by Meteor Chef and <a href="https://atmospherejs.com/ostrio/files" target="_blank" rel="noopener noreferrer">used by many meteor.js projects</a> for to manage files and uploads in Meteor.js ecosystem

    p 2020

    a.info-link.right(href="{{pathFor 'index'}}" title="close"): i.la.la-times
  //- .col-50.bg-dark.about
  //-   .h2.text-center who and why

  //-   p backed by <a href="https://veliovgroup.com" target="_blank" rel="noopener noreferrer">veliovgroup</a>, sponsored by <a href="https://ostr.io" target="_blank" rel="noopener noreferrer">ostr.io</a> and <a href="https://github.com/veliovgroup/supporters#supporters" target="_blank" rel="noopener noreferrer">awesome community members</a>

  //-   p idea, development, maintance, and support by <a href="https://twitter.com/smart_egg" title="@smart_egg on Twitter">@smart_egg</a> and <a href="https://twitter.com/veliovgroup" title="@veliovgroup on Twitter">@veliovgroup</a>

  //-   p source code is available on <a href="https://github.com/veliovgroup/Meteor-Files-Demos/tree/master/demo" target="_blank" rel="noopener noreferrer">GitHub</a> ・ as part of <a href="https://github.com/VeliovGroup/Meteor-Files" target="_blank" rel="noopener noreferrer">ostrio:files</a> project
