template(name="index")
  .col-50
    if compare recent.count '||' uploads
      .wh100.scroll-wrap
        each uploads
          +uploadRow
        each recent.each
          +listingRow
    else
      .h3.text-center You have no uploaded files