template(name="uploadRow")
  .item-row.upload
    .item-icon
      .progress-radial(class="progress-{{getProgressClass}}")
        .overlay(data-toggle-upload)
          if onPause.get
            span(title="Resume upload"): i.la.la-lg.la-play
          else
            span.progress #{progress.get}%
            span.action(title="Pause upload"): i.la.la-lg.la-pause
    .item-details
      .file-name #{file.name}
      .file-info
        span(title="File size") {{filesize file.size}}
        | &nbsp;
        | &middot;
        | &nbsp;
        span(title="Upload in") #{estimatedDuration}
        | &nbsp;
        | &middot;
        | &nbsp;
        span(title="Upload speed") #{estimatedBitrate}