template(name="uploadForm")
  form.col-50.upload-form.bg-dark#uploadFile(class="{{#if isFileOver}}file-over{{/if}}")
    .dnd-notice
      | Drop files here for upload, or
      a(href="#" data-cancel-dnd) cancel

    unless uploads
      input.invisible#userfile(class="{{#if showSettings}}settings-open{{/if}}" type="file" name="userfile" required multiple)

      label.fake-upload#fakeUpload(for="userfile")
        .icon-container
          .cloud-container
            i.la.la-cloud
            .arrow-container
              i.la.la-arrow-up
        if error
          .danger {{{error}}}
        else
          .h1 UPLOAD A FILE
          p.annotation {{maxFilesQty}} files up to {{getMaxSize}}

      a.info-link.right(href="{{pathFor 'about'}}" class="{{isActiveRoute 'about'}}" title="Project Info"): i.la.la-info-circle
      a.info-link.show-settings(href="{{pathFor 'settings'}}" class="{{isActiveRoute 'settings'}}" title="Upload Settings"): i.la.la-gear
    else
      .h1.percentage #{status.progress}%
      progress(max="100" value="#{status.progress}")
      p
        if error
          span.danger {{{error}}}
        else
          | #{status.accumDuration}
          | &nbsp;
          | &middot;
          | &nbsp;
          | #{status.accumBitrate}
        br
        if status.onPause
          a(data-continue-all href="#" title="Resume upload"): i.la.la-3x.la-play
        else
          a(data-pause-all href="#" title="Pause upload"): i.la.la-3x.la-pause
        | &nbsp;
        | &nbsp;
        a(data-abort-all href="#" title="Abort upload"): i.la.la-3x.la-stop